BGP-LS EPE Implementation

Hi. We are working on BGP-LS Egress Peer Engineering (BGP-LS EPE) extensions. (e.g., https://github.com/osrg/gobgp/pull/2611)
There are two BGP-LS extensions for EPE: **SR-MPLS** mentioned in RFC9086 and **SRv6** in draft-ietf-bgpls-srv6-ext.
We will implement these two approaches. 

To share our BGP-LS EPE Roadmap, we opened issues as follows. We are looking forward to heading from the community members to share other tasks related to EPE or contribute to our activities.

Thank you.

## SR-MPLS 
Reference： [RFC9086](https://datatracker.ietf.org/doc/rfc9086/)
- [x] C-Plane implementation (#2611)
    - Note: We have not implemented the BGP Confederation option (RFC9086 section 4.2/4.3).
- [ ] Essential BGP-LS data exchange functions for gRPC
    - Current GoBGP does not support the function to exchange data using gRPC for BGP-LS.
- [ ] The functions to add and remove the BGP Peering Segments to BGP rib according to the BGP peer state.
    - We will implement PeerNode SID to steer to a specific peer node.
    - We will only implement the function to declare the EPE SID statically from the config. (Not automatically generate the EPE SID)
- [ ] FIB manipulation
    - We have not yet organized the necessary implementation required.

## SRv6
Reference: [draft-ietf-bgpls-srv6-ext](https://datatracker.ietf.org/doc/draft-ietf-idr-bgpls-srv6-ext/)
- [ ] C-plane implementation
- [ ] Essential BGP-LS data exchange functions for gRPC
- [ ] The functions to issue and remove the BGP Peering Segments according to the BGP peer state.
- [ ] FIB manipulation
    - This has yet to be considered either.

## Others
- [ ] Documentation
    - We will create documents for EPE use cases using BGP-LS.
- [ ] Tutorial
    - We will summarize examples of simple network topology necessary for EPE using our BGP-LS implementation.
    - This tutorial may be published to external references like [Tutorial: Using GoBGP as an IXP connecting router](https://www.slideshare.net/shusugimoto1986/tutorial-using-gobgp-as-an-ixp-connecting-router). 

Great, sounds exciting!

> - [ ] Essential BGP-LS data exchange functions for gRPC
>    - Current GoBGP does not support the function to exchange data using gRPC for BGP-LS.

Finally!
Hopefully one day someone invents a tool to define a BGP message, which can generate the code for encoding/decoding and gRPC proto message.
