FS bit tied to RS bit in graceful restart

The forwarding bit (FS) is currently only set when the restart bit (RS) in a graceful restart scenario. This seems to be an oversight.

RFC 4724 Section 4.1 states
```
   If one wants to apply graceful restart only when the restart is
   planned (as opposed to both planned and unplanned restart), then one
   way to accomplish this would be to set the Forwarding State bit to 1
   after a planned restart, and to 0 in all other cases.  Other
   approaches to accomplish this are outside the scope of this document.
```

I'm starting this issue to figure out implementation opinions to decouple the FS bit from the RS bit and to better understand the differences in FS and RS bits and their intended uses.

I think the most naive solution would be to extract the FS bit (bool) into the Peer, maybe next to the `LocalRestarting` flag currently residing in the GracefulRestart struct to enable the developer to decide how/when to use it.

But, I also want to use this avenue to better operationally understand the use of the FS bit. As I currently understand graceful restart in BGP, only the OPEN message will carry this information. Indeed all attempts at setting this mid-session have only shown changes to the Forwarding flag only in the OPEN message (via PCAPS). Further, that there is no way (that none of this community knows of) to accomplish enabling graceful restart (or signal to continue to hold stale routes) mid-session without a hard reset. 

As the RFC indicates, an operator can set the FS bit in a planned restart scenario; but not set in an unplanned. But what does this actually accomplish? If I understand this correctly, setting the FS bit will _only_ be applicable after the receiving speaker has entered into GR.  And is only an option in the OPEN message after speaker restart. The RS bit signals to the receiving speaker that the speaker is entering back into a session. That the receiving speaker shouldn't flush it's stale routes from that speaker. If all of this is true, what is the FS bit's intended use?  

Not fully understanding the intended use-case of the FS bit, I think I understand why the current implementation coupled FS bit was bound to when the RS bit is set. But if we decouple the FS bit, what are we trying accomplish? 

To reiterate, I hope this issue in someway leads to support signaling to the receiving speaker to hold onto routes until it sees the RS bit in the next OPEN or times out. Whether it be setting the FS bit mid-session and through some sort of UPDATE/NOTIFICATION or any other way. I'm happy to put the work in if this feature makes sense. But would like to clarify the purpose of this and confirm the naive implementation makes the most sense regardless of planned restart.

Thanks
