use gobgp in microservice connectivity

I have 4-5 dc , and own micro services. I need to connect transparently services from dc1 to dc5, without overlay network and vpn. On each dc i can run some kind of proxy (in dc5 for ex), that can forward request from dc1 to underlining services. So i need to export some data from dc5 to dc1 about services in dc5 and proxy address to reach them.
Does it possible to do this via gobgp (i'm understand that bgp used for ip addresses, but may be address is the generic thing?)

I think that your question is not specific to GoBGP. "bgp is useful for your use case?" is more appropriate question.
I don't know the details of your requirement but I guess that sharing ip addresses isn't enough, sorta service discovery is necessary. bgp can share not only ip but opaque information, however, I'm not sure bgp is the best option for your case.

Thank you. How much payload i can export via bgp? For example if i want to export ip and some metadata

if you go with opaque signaling, 16 bits length can be used for key and value 

https://tools.ietf.org/html/draft-lapukhov-bgp-opaque-signaling-04

And how with gobgp i can export such info?

i think about 4096 bytes... ?
```
 The maximum size of the Opaque "Key" and "Value" fields together is
   limited by the BGP UPDATE message size.  With the default BGP
   protocol implementation the mssage may not exceed 4096 octets (see
   [RFC4271] Section 4).  However, if
   [I-D.ietf-idr-bgp-extended-messages] is implemented, the UPDATE
   message size could be as large as 65536 octets.
```

And if in the both sides i use gobg does this mean that i can use extended size with 65536 ?

Oops, 4096 bytes is the limit:
https://github.com/osrg/gobgp/blob/master/pkg/packet/bgp/bgp.go#L12623
If you remove the above check, the size can be as large as 65536 bytes, I guess.

thank you!